<ion-header>
  <ion-toolbar>
    <ion-title>Mocamedes</ion-title><br>
    <ion-card-subtitle>Moçâmedes, chamada Namibe de 1985 a 2016, é a cidade capital da província do Namibe, em Angola.

      O município tem 8 916 km² e cerca de 530 000 habitantes[1]. É limitado a Norte pelo município de Baía Farta, a Este pelos municípios de Camucuio, Bibala e Virei, a Sul pelo município de Tômbua e a Oeste pelo Oceano Atlântico e é constituído pelas comunas de Moçâmedes,[2] Lucira e Bentiaba.
      
      É o terceiro maior porto de Angola, depois de Luanda e Lobito. É também o terminal do Caminho de Ferro de Moçâmedes. A região, maioritariamente desértica, com clima fresco e seco, alberga a Welwitschia mirabilis, uma espécie vegetal endémica.
      
      Em 2013 a cidade sediou, em conjunto com Luanda, o Campeonato do Mundo de Hóquei em Patins, o primeiro do género em África</ion-card-subtitle>
      <br>
      <br><ion-slides pager>

          <ion-slide>
              <ion-img src="/assets/namibe/20111120204229prias_do_namibe-1.jpg"></ion-img>
           
          </ion-slide>
        
          <ion-slide>
          
            <ion-img src="/assets/namibe/0,9c292d28-4618-445e-8be9-4b5bc71f72fa.jpg"></ion-img>
          </ion-slide>
        
          <ion-slide>
            <ion-img src="/assets/namibe/image_content_106255_20190220150435.jpg"></ion-img>
<ion-content>

</ion-content>
