<ion-header>
  <ion-toolbar>
    <ion-title>Tombwa</ion-title>
    <br>
    <ion-card-subtitle>Tômbua ou Tombwa é uma cidade e município no litoral da província do Namibe, em Angola. A cidade é a capital do município.

        Ficheiro:Cidade do tômbua.JPG
        Imagens da cidade, praias e povos típicos de Tômbua
        O município tem 18 019 km² e cerca de 187 573 mil habitantes.[1] É limitado a Norte pelos municípios de Moçâmedes e a Este pelo município do Virei e pela província do Cunene, a Sul pela República da Namíbia, e a Oeste pelo Oceano Atlântico. É constituído pelas comunas do Iona e Baía dos Tigres.</ion-card-subtitle>
      <br>
      <br><ion-slides pager>

          <ion-slide>
              <ion-img src="/assets/namibe/x-welwitschia_mirabilis2.jpg"></ion-img>
           
          </ion-slide>
        
          <ion-slide>
          
            <ion-img src="/assets/namibe/a praia ta tua espera.jpg"></ion-img>
          </ion-slide>
          

          <ion-slide>
            <ion-img src="/assets/namibe/largo do tombwa.jpg"></ion-img>

<ion-content>

</ion-content>
