<ion-header>
  <ion-toolbar>
    <ion-title>Bibala</ion-title>
    <ion-card-subtitle>MBibala (Vila Arriaga até 1975) é uma vila e município da província do Namibe, em Angola.

        O município tem 7 612 km² e cerca de 57 mil habitantes[1]. É limitado a Norte pelo município de Camucuio, a Este pelos municípios de Quilengues, Cacula, Lubango e Humpata, a Sul pelo município de Virei, e a Oeste pelo município de Moçâmedes. É constituído pelas comunas de Bibala-Sede, Caitou, Lola e Kapangombe.
        
        A povoação foi fundada com a chegada do Caminho de Ferro de Moçâmedes em 1 de Fevereiro de 1912. Em 21 de Junho de 1918 foi criada a circunscrição civil, elevada a concelho em 13 de Dezembro de 1965.</ion-card-subtitle>
        <br>
        <br><ion-slides pager>
  
            <ion-slide>
                <ion-img src="/assets/namibe/bibala.jpg"></ion-img>
             
            </ion-slide>
          
            <ion-slide>
            
              <ion-img src="/assets/namibe/mutipa.jpg"></ion-img>
            </ion-slide>
          
            <ion-slide>
              <ion-img src="/assets/namibe/cidade da bibala.jpg"></ion-img>

<ion-content>

</ion-content>
