<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Minha Terra
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      Jardin milionrio<ion-img src="/assets/namibe/0,9c292d28-4618-445e-8be9-4b5bc71f72fa.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Terra da Felicidade</ion-card-subtitle>
        <ion-card-title>Welcome to Namibe</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p> Namibe é uma província de Angola, dividida em 5 municípios. Tem uma área de 57 091 km² e sua população é de 471613 habitantes. A capital da província é a cidade de Moçâmedes.

            Os cinco municípios são: Moçâmedes, Bibala, Virei, Camucuio e Tômbua.</p>
          <ion-img src="/assets/namibe/Academia de pesca.jpg"></ion-img>
            Academia de pesca
           
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
